<div class="w-full max-w-4xl mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-600 text-white mb-5 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl text-white">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-700 text-white block font-medium transition duration-200" %>
  </div>

  <div id="posts" class="grid gap-6">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>
